Repository pyg-team/pyg-lib, pull requests merged in 2022-12, with the labels that each got.

#155 fix for failing test
  test/ops/test_matmul.py
Labels: 0 - Priority P0, bug, test, skip-changelog

#156 Added `sampled_op` implementation
  CHANGELOG.md
  pyg_lib/csrc/config.h
  pyg_lib/csrc/ops/cpu/sampled_kernel.cpp
  pyg_lib/csrc/ops/cuda/sampled_kernel.cu
  pyg_lib/csrc/ops/sampled.cpp
  pyg_lib/csrc/ops/sampled.h
  pyg_lib/ops/__init__.py
  test/csrc/ops/test_matmul.cpp
  test/csrc/ops/test_sampled.cpp
Labels: 0 - Priority P0, feature, ops

#159 Add `autograd` support for `sampled_op`
  CHANGELOG.md
  pyg_lib/csrc/ops/autograd/sampled_kernel.cpp
  test/csrc/ops/test_sampled.cpp
Labels: 0 - Priority P0, feature, ops

#161 Added `bias` term to `grouped_matmul` and `segment_matmul`
  CHANGELOG.md
  pyg_lib/ops/__init__.py
  test/ops/test_matmul.py
Labels: 0 - Priority P0, feature, ops

#165 Enable to benchmark neighbor sampler on temporal graphs
  CHANGELOG.md
  benchmark/sampler/hetero_neighbor.py
  benchmark/sampler/neighbor.py
Labels: 0 - Priority P0, benchmark, sampler
