Repository pyg-team/pyg-lib, pull requests merged in 2022-08, with the labels that each got.

#64 Autograd for `grouped_matmul`
  CHANGELOG.md
  pyg_lib/csrc/ops/cuda/matmul_kernel.cu
  pyg_lib/csrc/ops/matmul.cpp
  pyg_lib/csrc/ops/matmul.h
  pyg_lib/csrc/utils/convert.cpp
  pyg_lib/csrc/utils/convert.h
  pyg_lib/ops/__init__.py
  test/csrc/ops/test_matmul.cpp
  test/ops/test_ops.py
Labels: 0 - Priority P0, feature, nn

#75 Prevent absolute paths in wheel
  CHANGELOG.md
  setup.py
Labels: 0 - Priority P0, bug, installation

#76 Implement neighbor sampler
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/mapper.h
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/sampler/__init__.py
  test/sampler/test_neighbor_sample.py
Labels: 0 - Priority P0, feature, sampler

#77 Fix `neighbor_sample` segmentation fault
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  test/sampler/test_neighbor_sample.py
Labels: 0 - Priority P0, bug, sampler

#78 Support `return_edge_id` in `neighbor_sample`
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, feature, sampler
