Repository pyg-team/pyg-lib, pull requests merged in 2022-04, with the labels that each got.

#12 Clang-format with pre-commit
  .clang-format
  .pre-commit-config.yaml
  pyg_lib/csrc/library.cpp
  pyg_lib/csrc/library.h
Labels: 0 - Priority P0, feature

#13 Initialize cpp test with `gtest` and github action
  .github/workflows/install.yml
  CMakeLists.txt
  CONTRIBUTING.md
  cmake/test.cmake
  test/cpp/test_cuda_version.cpp
Labels: 0 - Priority P0, feature, test

#15 Code coverage
  .github/workflows/testing.yml
  CMakeLists.txt
Labels: 0 - Priority P0, feature, test

#16 Add CodeCov badge
  README.md
Labels: 0 - Priority P0, documentation, feature

#17 Fix uploading coverage report
  .coveragerc
  .github/workflows/testing.yml
  CMakeLists.txt
Labels: 0 - Priority P0, bug, test

#18 Filter out `test/` dir coverage
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  cmake/test.cmake
  test/csrc/test_library.cpp
Labels: 0 - Priority P0, bug

#21 `random_walk` implementation
  .github/workflows/install.yml
  .github/workflows/testing.yml
  CMakeLists.txt
  CONTRIBUTING.md
  cmake/test.cmake
  docs/source/index.rst
  docs/source/modules/sampler.rst
  pyg_lib/__init__.py
  pyg_lib/csrc/sampler/cpu/random_walk_kernel.cpp
  pyg_lib/csrc/sampler/cpu/utils.h
  pyg_lib/csrc/sampler/random_walk.cpp
  pyg_lib/csrc/sampler/random_walk.h
  pyg_lib/sampler/__init__.py
  setup.py
  test/csrc/graph.h
  test/csrc/sampler/test_random_walk.cpp
Labels: 0 - Priority P0, feature, sampler

#24 Small fixes
  CONTRIBUTING.md
  cmake/test.cmake
  pyg_lib/csrc/sampler/cpu/random_walk_kernel.cpp
Labels: 0 - Priority P0, refactor

#27 Update build instructions
  CONTRIBUTING.md
Labels: 0 - Priority P0, installation

#26 `randint` utils for samplers
  pyg_lib/csrc/random/cpu/randint_engine.h
  test/csrc/random/test_randint.cpp
Labels: 0 - Priority P0, feature, sampler

#29 Random walk CPU sampler <-> `random::RandintEngine`
  pyg_lib/csrc/sampler/cpu/random_walk_kernel.cpp
  pyg_lib/csrc/sampler/cpu/utils.h
  test/csrc/random/test_randint.cpp
Labels: feature, refactor

#28 Nightly Builds
  .github/workflows/cuda/Linux-env.sh
  .github/workflows/cuda/Linux.sh
  .github/workflows/install.yml
  .github/workflows/nightly.yml
  .github/workflows/testing.yml
  CMakeLists.txt
  LICENSE
  MANIFEST.in
  pyg_lib/__init__.py
  setup.cfg
  setup.py
Labels: 0 - Priority P0, feature, installation

#32 Uniform random real number: `pyg::random::RandrealEngine`
  pyg_lib/csrc/random/cpu/biased_sampling.h
  pyg_lib/csrc/random/cpu/rand_engine.h
  pyg_lib/csrc/sampler/cpu/random_walk_kernel.cpp
  test/csrc/random/test_rand_engine.cpp
Labels: 0 - Priority P0, feature, sampler

#35 close stale issues and PRs
  .github/workflows/stale.yml
Labels: 0 - Priority P0, feature

#36 Update nightly `*.html` wheel pages
  .github/workflows/aws/.gitignore
  .github/workflows/aws/upload_nightly_index.py
  .github/workflows/linting.yml
  .github/workflows/nightly.yml
  README.md
Labels: 0 - Priority P0, feature, installation

#31 `pyg::subgraph`
  pyg_lib/csrc/random/cpu/rand_engine.h
  pyg_lib/csrc/sampler/cpu/subgraph_kernel.cpp
  pyg_lib/csrc/sampler/random_walk.h
  pyg_lib/csrc/sampler/subgraph.cpp
  pyg_lib/csrc/sampler/subgraph.h
  pyg_lib/csrc/utils/cpu/convert.h
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_subgraph.cpp
Labels: 0 - Priority P0, feature, sampler
