Repository pyg-team/pyg-lib, pull requests merged in 2022-09, with the labels that each got.

#79 Add neighbor sampler benchmark
  CHANGELOG.md
  benchmark/sampler/neighbor.py
Labels: 0 - Priority P0, benchmark, sampler

#80 `neighbor_sample` C++ tests
  CHANGELOG.md
  test/csrc/sampler/test_neighbor.cpp
  test/sampler/test_neighbor_sample.py
Labels: 0 - Priority P0, test, sampler

#81 Refactor `neighbor_sample`
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/mapper.h
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, refactor, sampler

#82 Add `shuffle` option to `neighbor_sample` benchmark script
  CHANGELOG.md
  benchmark/sampler/neighbor.py
Labels: 0 - Priority P0, feature, benchmark

#83 Allow non-scalar node type in `Mapper`
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/mapper.h
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/cpu/subgraph_kernel.cpp
Labels: 0 - Priority P0, feature, sampler

#85 Neighbor Sample `disjoint` mode
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/mapper.h
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/cpu/subgraph_kernel.cpp
  pyg_lib/csrc/utils/cpu/convert.h
Labels: 0 - Priority P0, feature, sampler

#87 Temporal sampling improvements
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 1 - Priority P1, refactor, sampler

#88 `pyg::utils::to_vector` implementation
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/utils/cpu/convert.h
Labels: 0 - Priority P0, feature, utils

#89 Add 'disjoint` neighbor sampling test
  CHANGELOG.md
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, test

#90 Heterogeneous neighbor sampling template
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/csrc/utils/types.h
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, feature, sampler, utils

#91 Update benchmark scripts
  CHANGELOG.md
  benchmark/sampler/neighbor.py
  benchmark/sampler/subgraph.py
  pyg_lib/sampler/__init__.py
Labels: 0 - Priority P0, benchmark, sampler

#84 Add `IndexTracker` as faster alternative to `unordered_set`
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/index_tracker.h
  pyg_lib/csrc/sampler/cpu/mapper.h
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, feature, benchmark, sampler

#92 `neighbor_sample` dispatcher
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 1 - Priority P1, refactor, sampler

#93 Add `dgl` to neighbor sampling benchmark
  CHANGELOG.md
  benchmark/sampler/neighbor.py
Labels: 0 - Priority P0, feature, benchmark

#94 Heterogeneous neighbor sampling implementation
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/csrc/utils/types.h
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, feature, sampler, utils

#95 Add `csc` mode to neighbor sampling interface
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, feature, sampler

#96 `CSC` handling in neighbor sampling (part 2)
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: refactor, sampler

#97 Temporal heterogeneous neighbor sampling
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, feature, sampler

#98 fix(sampler): default value for `mapper_dict`
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, bug, sampler

#99 fix(sampler): support empty `num_neighbors_dict`
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, bug, sampler

#100 Avoid running nightly build in forked repos
  .github/workflows/nightly.yml
Labels: 0 - Priority P0, bug

#102 Fix heterogeneous temporal sampling
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, bug, sampler

#104 Temporal sampling: Do not sample neighbors with the same timestamp as the seed node
  .github/workflows/labeler.yml
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, bug, sampler

#105 Fixed a bug in `Mapper` for `num_nodes==0`
  .github/workflows/changelog.yml
  pyg_lib/csrc/sampler/cpu/mapper.h
Labels: 0 - Priority P0, bug, sampler, skip-changelog

#107 Build `*.so` extension on Mac instead of `*.dylib`
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 - Priority P0, bug, installation

#73 Speed-up CUTLASS implementation
  CHANGELOG.md
  pyg_lib/csrc/ops/cuda/matmul_kernel.cu
  pyg_lib/ops/__init__.py
  test/ops/test_ops.py
Labels: 0 - Priority P0, feature, ops

#108 Require sorted neighborhoods according to time in temporal sampling
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_neighbor.cpp
Labels: feature, refactor, sampler

#109 Revert last commit segmatmul
  pyg_lib/csrc/ops/cuda/matmul_kernel.cu
Labels: 0 - Priority P0, bug, ops, skip-changelog

#110 Test `neighbor_sample` with and without replacement
  CHANGELOG.md
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, test, sampler

#106 Add hetero neighbor sampler benchmark
  CHANGELOG.md
  benchmark/sampler/hetero_neighbor.py
  pyg_lib/sampler/__init__.py
  pyg_lib/testing.py
Labels: 0 - Priority P0, benchmark, sampler

#101 Introduce cpp micro-benchmarks
  CHANGELOG.md
  CMakeLists.txt
  CONTRIBUTING.md
  benchmark/csrc/sampler/mapper.cpp
  cmake/benchmark.cmake
  setup.py
Labels: 0 - Priority P0, benchmark, sampler

#113 [Build] Add build type choosing options
  setup.py
Labels: 1 - Priority P1, feature, installation, skip-changelog

#114 Support for `last_k` temporal sampling strategy
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/sampler/__init__.py
Labels: 0 - Priority P0, feature, sampler
