Repository pyg-team/pyg-lib, pull requests merged in 2022-10, with the labels that each got.

#115 Reset `segment_matmul` feature granularity back to `1`
  pyg_lib/csrc/ops/cuda/matmul_kernel.cu
Labels: 0 - Priority P0, refactor, ops, skip-changelog

#116 Add a basic check to ensure that temporal neighborhoods are sorted
  .github/workflows/labeler.yml
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, feature, sampler, skip-changelog

#117 Debug `CMAKE` build type
  CMakeLists.txt
  setup.py
Labels: 1 - Priority P1, installation, skip-changelog

#118 Allow overriding `time` for seed nodes via `seed_time` in `neighbor_sample`
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, feature, sampler

#120 Torchscript support for `segment_matmul`
  CHANGELOG.md
  pyg_lib/csrc/ops/matmul.cpp
  pyg_lib/csrc/ops/matmul.h
  pyg_lib/ops/__init__.py
  test/csrc/ops/test_matmul.cpp
  test/ops/test_ops.py
Labels: 0 - Priority P0, feature, ops

#122 `Autograd` dispatcher for `segment_matmul`
  CHANGELOG.md
  pyg_lib/csrc/ops/autograd/matmul_kernel.cpp
  pyg_lib/csrc/ops/matmul.cpp
  pyg_lib/csrc/ops/matmul.h
Labels: 0 - Priority P0, bug, ops

#124 Add `neighbor_kernel.h`, remove anonymous namespace
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.h
Labels: 0 - Priority P0, bug, sampler

#125 Fix dispatcher in `hetero_neighbor_sample`
  CHANGELOG.md
  pyg_lib/csrc/ops/matmul.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/utils/check.cpp
  pyg_lib/csrc/utils/check.h
  pyg_lib/sampler/__init__.py
Labels: 0 - Priority P0, bug, sampler, ops, utils

#126 Add `seed_time_dict` argument to `hetero_sample` benchmark
  benchmark/sampler/hetero_neighbor.py
Labels: 0 - Priority P0, bug, benchmark, sampler, skip-changelog

#123 Broader support for more GPU devices when using `CUTLASS`
  CHANGELOG.md
  pyg_lib/csrc/ops/cuda/matmul_kernel.cu
Labels: 0 - Priority P0, bug, ops

#129 Change the type of `count` in neighbor sampling
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, bug, sampler, skip-changelog

#128 Volta and fp32 support
  pyg_lib/csrc/ops/cuda/matmul_kernel.cu
Labels: 0 - Priority P0, bug, ops, skip-changelog

#130 Support PyTorch `>=1.11`
  pyg_lib/csrc/ops/cuda/matmul_kernel.cu
Labels: 0 - Priority P0, bug, ops, skip-changelog

#131 Fix build times
  pyg_lib/csrc/ops/cuda/matmul_kernel.cu
Labels: 0 - Priority P0, bug, ops, skip-changelog

#132 Enable `pytest`
  .github/workflows/cpp_testing.yml
  .github/workflows/python_testing.yml
  CHANGELOG.md
  setup.cfg
  setup.py
  test/test_version.py
Labels: 0 - Priority P0, feature, test

#133 Added a triton test
  CHANGELOG.md
  pyg_lib/testing.py
  setup.cfg
  setup.py
  test/test_triton.py
Labels: 0 - Priority P0, feature, test

#134 Fix Python 3.10 builds
  .github/workflows/install.yml
  .github/workflows/python_testing.yml
  CHANGELOG.md
  pyg_lib/_triton.py
  pyg_lib/testing.py
  setup.py
  test/test_triton.py
Labels: 0 - Priority P0, bug, test

#138 `NeighborLoader`: Respect `num_neighbors=-1` in `temporal_strategy="last"`
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, bug, sampler, skip-changelog
