Repository pyg-team/pyg-lib, pull requests merged in 2022-05, with the labels that each got.

#39 Added `CHANGELOG.md`
  .github/workflows/changelog.yml
  CHANGELOG.md
Labels: 0 - Priority P0, documentation, feature

#40 Optional return types in `pyg::sampler::subgraph`
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/subgraph_kernel.cpp
  pyg_lib/csrc/sampler/subgraph.cpp
  pyg_lib/csrc/sampler/subgraph.h
  test/csrc/sampler/test_subgraph.cpp
Labels: 0 - Priority P0, refactor, sampler

#38 Weighted graph preprocessing to enable biased sampling
  CHANGELOG.md
  pyg_lib/csrc/random/cpu/biased_sampling.cpp
  pyg_lib/csrc/random/cpu/biased_sampling.h
  test/csrc/random/test_biased_random.cpp
Labels: 0 - Priority P0, feature, sampler

#41 Auto-compute number of threads and blocks in CUDA kernels
  CHANGELOG.md
  pyg_lib/csrc/sampler/cuda/random_walk_kernel.cu
Labels: 0 - Priority P0, refactor

#45 Benchmark scripts and `pyg::sampler::Mapper`
  CHANGELOG.md
  benchmark/main.py
  pyg_lib/csrc/sampler/cpu/mapper.h
  pyg_lib/csrc/sampler/cpu/subgraph_kernel.cpp
  pyg_lib/testing.py
Labels: 0 - Priority P0, feature, benchmark

#47 Documentation Layout
  .github/workflows/documentation.yml
  CHANGELOG.md
  docs/README.md
  docs/requirements.txt
  docs/source/conf.py
  pyg_lib/sampler/__init__.py
Labels: 0 - Priority P0, documentation, feature

#48 Doc adjustments
  docs/README.md
  docs/source/conf.py
Labels: 0 - Priority P0, documentation, feature
