Repository pyg-team/pyg-lib, pull requests merged in 2022-11, with the labels that each got.

#141 [WIP] `ops.fused_scatter_reduce`
  CHANGELOG.md
  pyg_lib/ops/__init__.py
  pyg_lib/ops/scatter_reduce.py
  pyg_lib/testing.py
  test/ops/test_scatter_reduce.py
  test/test_triton.py
Labels: 0 - Priority P0, feature, ops

#142 `fused_scatter_reduce` benchmark
  CHANGELOG.md
  pyg_lib/ops/scatter_reduce.py
  test/ops/test_scatter_reduce.py
Labels: 0 - Priority P0, benchmark, ops

#143 NeighborSample: allow different types for graph and timestamp data
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, feature, sampler

#137 Use `torch.bmm` on nested tensor inputs for PyTorch `>=1.14`
  CHANGELOG.md
  pyg_lib/ops/__init__.py
  test/ops/test_matmul.py
Labels: 1 - Priority P1, feature, ops

#145 PyTorch 1.13 support
  .github/workflows/cpp_testing.yml
  .github/workflows/cuda/Linux-env.sh
  .github/workflows/cuda/Linux.sh
  .github/workflows/documentation.yml
  .github/workflows/install.yml
  .github/workflows/nightly.yml
  .github/workflows/python_testing.yml
  CHANGELOG.md
  README.md
Labels: 0 - Priority P0, feature, installation

#149 Speed-up `fused_scatter_reduce`
  pyg_lib/ops/scatter_reduce.py
Labels: 0 - Priority P0, benchmark, ops, skip-changelog

#150 Introduce reusable setup workflow
  .github/actions/setup/action.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql_analysis.yml
  .github/workflows/cpp_testing.yml
  .github/workflows/documentation.yml
  .github/workflows/install.yml
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/nightly.yml
  .github/workflows/python_testing.yml
  .github/workflows/stale.yml
  docs/source/modules/ops.rst
  docs/source/modules/sampler.rst
Labels: 0 - Priority P0, documentation, feature, skip-changelog

#152 Build `pyg_lib==0.1.0` wheels (part 2)
  .github/workflows/building.yml
  .github/workflows/cuda/Windows-env.sh
  .github/workflows/cuda/Windows.sh
  .github/workflows/cuda/macOS-env.sh
  .github/workflows/nightly.yml
  README.md
Labels: 0 - Priority P0, feature, installation, skip-changelog

#146 `(segment|grouped)_matmul` implementation using MKL BLAS
  .github/workflows/cpp_testing.yml
  CHANGELOG.md
  CMakeLists.txt
  CONTRIBUTING.md
  benchmark/csrc/ops/matmul.cpp
  pyg_lib/csrc/config.h.in
  pyg_lib/csrc/ops/cpu/matmul_kernel.cpp
  setup.py
Labels: 0 - Priority P0, feature, benchmark, ops

#154 Update `MANIFEST.in`
  CHANGELOG.md
  MANIFEST.in
Labels: 0 - Priority P0, feature, installation, skip-changelog
