Repository pyg-team/pyg-lib, pull requests merged in 2023-11, with the labels that each got.

#272 Add support for bfloat16 in `segment_matmul` operation
  CHANGELOG.md
  pyg_lib/csrc/ops/cpu/matmul_kernel.cpp
  pyg_lib/testing.py
  test/ops/test_matmul.py
Labels: 0 - Priority P0, feature, ops

#275 Remove MKL codepath in `replace=False` sampling
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: sampler

#276 Support for older `GLIBC`
  .github/actions/setup/action.yml
  .github/workflows/documentation.yml
  .github/workflows/python_testing.yml
  CMakeLists.txt
  pyg_lib/__init__.py
  setup.py
Labels: 0 - Priority P0, bug, skip-changelog

#277 Fix build
  .github/workflows/building.yml
Labels: 0 - Priority P0, bug, installation, skip-changelog

#280 Edge-based temporal sampling
  CHANGELOG.md
  benchmark/sampler/hetero_neighbor.py
  benchmark/sampler/neighbor.py
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.h
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_dist_neighbor.cpp
  test/csrc/sampler/test_dist_relabel.cpp
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, feature, sampler

#264 Add `softmax_csr` implementation
  CHANGELOG.md
  benchmark/ops/softmax.py
  pyg_lib/csrc/ops/cpu/softmax_kernel.cpp
  pyg_lib/csrc/ops/softmax.cpp
  pyg_lib/csrc/ops/softmax.h
  pyg_lib/ops/__init__.py
  test/csrc/ops/test_softmax.cpp
  test/ops/test_softmax.py
Labels: feature, ops

#281 Minor README update
  README.md
Labels: 0 - Priority P0, documentation, skip-changelog

#282 Move `softmax_csr` autograd module to C++
  CHANGELOG.md
  pyg_lib/csrc/ops/autograd/softmax_kernel.cpp
  pyg_lib/csrc/ops/cpu/softmax_kernel.cpp
  pyg_lib/csrc/ops/softmax.cpp
  pyg_lib/csrc/ops/softmax.h
  pyg_lib/ops/__init__.py
  test/csrc/ops/test_softmax.cpp
Labels: ops
