Repository pyg-team/pyg-lib, pull requests merged in 2023-10, with the labels that each got.

#257 Fix PyTorch 2.1.0 CUDA versions
  .github/workflows/building.yml
  .github/workflows/nightly.yml
Labels: bug, installation, skip-changelog

#259 Fix CUDA version in Windows build
  .github/workflows/cuda/Windows.sh
Labels: 0 - Priority P0, bug, installation, skip-changelog

#260 Fix macOS build
  .github/workflows/building.yml
Labels: 0 - Priority P0, bug, installation, skip-changelog

#262 Update version to `0.3.0`
  CHANGELOG.md
  CMakeLists.txt
  pyg_lib/__init__.py
  setup.py
Labels: 0 - Priority P0, installation, skip-changelog

#263 Fix macOS build
  .github/workflows/building.yml
Labels: 0 - Priority P0, installation, skip-changelog

#267 Benchmarks for biased sampling
  CHANGELOG.md
  benchmark/sampler/hetero_neighbor.py
  benchmark/sampler/neighbor.py
Labels: 0 - Priority P0, benchmark, sampler

#270 Optimization of biased sampling
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 0 - Priority P0, question, sampler
