Repository pyg-team/pyg-lib, pull requests merged in 2023-02, with the labels that each got.

#192 Fix `index_sort`
  CHANGELOG.md
  pyg_lib/csrc/ops/cpu/index_sort_kernel.cpp
Labels: 0 - Priority P0, bug, ops

#194 Require `triton>=2.0.0`
  pyg_lib/_triton.py
  pyg_lib/ops/scatter_reduce.py
  test/test_triton.py
Labels: 0 - Priority P0, bug, installation, ops, skip-changelog

#195 Integrate `max` aggregation to `scatter_reduce` test
  test/ops/test_scatter_reduce.py
Labels: 0 - Priority P0, test, skip-changelog

#199 Update `scatter_reduce` benchmarks
  test/ops/test_scatter_reduce.py
Labels: 0 - Priority P0, benchmark, ops, skip-changelog

#202 Add links to documentation
  docs/source/index.rst
Labels: 0 - Priority P0, documentation, feature, skip-changelog

#203 gh: move `CONTRIBUTING` to `.github/` dir
  .github/CONTRIBUTING.md
  docs/README.md
Labels: 0 - Priority P0, refactor, skip-changelog

#205 chore: move `yamllint` config to pre-commit config
  .pre-commit-config.yaml
  .yamllint.yml
Labels: 0 - Priority P0, refactor, skip-changelog

#197 Adding option to return info about sampled graph
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.h
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, feature, sampler
