Repository pyg-team/pyg-lib, pull requests merged in 2023-01, with the labels that each got.

#168 Use `cutlass` and `phmap` from conda (if available)
  CMakeLists.txt
  setup.py
Labels: 0 - Priority P0, feature, installation, skip-changelog

#170 Fix broken `scatter_reduce` test
  test/ops/test_scatter_reduce.py
Labels: 0 - Priority P0, bug, test, skip-changelog

#173 Update Documentation
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/index.rst
Labels: 0 - Priority P0, documentation, feature, skip-changelog

#171 triton2 support + torch >= 1.14 gmm bias support
  CHANGELOG.md
  pyg_lib/ops/__init__.py
  pyg_lib/ops/scatter_reduce.py
  setup.py
  test/test_triton.py
Labels: ops

#172 `(segment|grouped)_matmul` improvements
  .gitignore
  CHANGELOG.md
  pyg_lib/csrc/config.h
  pyg_lib/csrc/ops/cpu/matmul_kernel.cpp
Labels: 1 - Priority P1, feature, ops

#174 Documentation: Monospace "Package Reference" Toc-Tree
  docs/source/_static/css/custom.css
Labels: 0 - Priority P0, documentation, feature, skip-changelog

#167 Added `--write-csv` and `--libraries` parameters to `neighbor.py` and `hetero_neighbor.py` benchmarks
  .gitignore
  CHANGELOG.md
  benchmark/sampler/hetero_neighbor.py
  benchmark/sampler/neighbor.py
Labels: 0 - Priority P0, feature, benchmark

#175 Copy wheels for PyTorch 1.12.1 and PyTorch 1.13.1
  .github/workflows/aws/upload_nightly_index.py
Labels: 0 - Priority P0, bug, installation, skip-changelog

#176 Drop unused `*.js` files
  docs/source/conf.py
Labels: 0 - Priority P0, documentation, refactor, skip-changelog

#177 Add description in documentation
  docs/source/index.rst
Labels: 0 - Priority P0, documentation, feature, skip-changelog

#178 Remove custom CSS
  docs/source/_static/css/custom.css
  docs/source/conf.py
Labels: 0 - Priority P0, documentation, refactor, skip-changelog

#184 `ops/matmul`: Only check cuda device properties once
  pyg_lib/csrc/ops/cuda/matmul_kernel.cu
Labels: 0 - Priority P0, feature, ops, skip-changelog

#183 `group_matmul` support for matmuls of lists of 3D tensors. needed for `HGTConv`
  pyg_lib/ops/__init__.py
Labels: 0 - Priority P0, feature, ops, skip-changelog

#181 Add `index_sort` implementation
  CHANGELOG.md
  LICENSE.txt
  LICENSE/LICENSE_pyg_lib
  LICENSE/LICENSE_radix_sort
  pyg_lib/csrc/ops/cpu/index_sort_kernel.cpp
  pyg_lib/csrc/ops/cpu/radix_sort.h
  pyg_lib/csrc/ops/index_sort.cpp
  pyg_lib/ops/__init__.py
  test/ops/test_index_sort.py
Labels: feature, ops

#187 Include nodes with the same timestamp when temporal sampling
  CHANGELOG.md
  CONTRIBUTING.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, feature, sampler

#189 `index_sort` - Documentation Improvements
  LICENSE
  LICENSE.txt
  LICENSE_radix_sort
  pyg_lib/ops/__init__.py
  test/ops/test_index_sort.py
Labels: 0 - Priority P0, refactor, ops, skip-changelog
