Repository pyg-team/pyg-lib, pull requests merged in 2023-09, with the labels that each got.

#247 Homogeneous biased sampling
  .github/CONTRIBUTING.md
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/mapper.h
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.h
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, feature, sampler

#249 Fix ReadTheDocs build
  pyg_lib/sampler/__init__.py
  readthedocs.yml
Labels: 0 - Priority P0, bug, skip-changelog

#250 Upgrade GitHub Action `checkout` version
  .github/workflows/building.yml
  .github/workflows/cpp_testing.yml
  .github/workflows/documentation.yml
  .github/workflows/install.yml
  .github/workflows/linting.yml
  .github/workflows/nightly.yml
  .github/workflows/python_testing.yml
Labels: 0 - Priority P0, bug, installation, skip-changelog

#251 Heterogeneous biased sampling
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.h
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_neighbor.cpp
Labels: 0 - Priority P0, feature, sampler

#246 Add support for distributed sampling
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.h
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/sampler/__init__.py
Labels: 0 - Priority P0, feature, sampler

#252 Add function to merge samplers outputs
  CHANGELOG.md
  pyg_lib/csrc/sampler/cpu/dist_merge_outputs_kernel.cpp
  pyg_lib/csrc/sampler/dist_merge_outputs.cpp
  pyg_lib/csrc/sampler/dist_merge_outputs.h
  pyg_lib/csrc/sampler/neighbor.h
  pyg_lib/sampler/__init__.py
  test/csrc/sampler/test_dist_merge_outputs.cpp
Labels: 0 - Priority P0, feature, sampler
