Repository pyg-team/pyg-lib, pull requests merged in 2024-02, with the labels that each got.

#294 Added PyTorch 2.2 support
  .github/actions/setup/action.yml
  .github/workflows/aws/upload_nightly_index.py
  .github/workflows/building.yml
  .github/workflows/cpp_testing.yml
  .github/workflows/nightly.yml
  CHANGELOG.md
  README.md
  setup.cfg
Labels: 0 - Priority P0, feature, installation

#297 Fix pyg-lib build error caused by MKL
  .github/workflows/cpp_testing.yml
  setup.py
  tools/mkl_ver.py
Labels: 0 - Priority P0, bug, skip-changelog

#304 Increment subgraph id globally for all seed nodes
  pyg_lib/csrc/sampler/cpu/dist_relabel_kernel.cpp
Labels: 0 - Priority P0, bug, sampler, skip-changelog
