Repository pyg-team/pyg-lib, pull requests merged in 2024-03, with the labels that each got.

#305 Fix tests on macOS ARM
  test/ops/test_index_sort.py
  test/ops/test_matmul.py
Labels: 0 - Priority P0, bug, test, skip-changelog

#308 fix bug to add large tensor support
  pyg_lib/csrc/ops/cpu/radix_sort.h
Labels: 0 - Priority P0, bug, ops, skip-changelog

#310 Add macOS M1 support
  .github/workflows/building.yml
  .github/workflows/nightly.yml
  CHANGELOG.md
Labels: 0 - Priority P0, feature, installation

#312 Fix macOS nightly build
  CMakeLists.txt
  pyg_lib/ops/__init__.py
  setup.py
Labels: bug, installation, ops, skip-changelog

#313 Fix macOS install (part2)
  CMakeLists.txt
  setup.py
Labels: 0 - Priority P0, bug, installation, skip-changelog
