Repository pyg-team/pyg-lib, pull requests merged in 2025-01, with the labels that each got.

#372 Limit concurrency for nightly jobs
  .github/workflows/nightly.yml
Labels: skip-changelog, ci

#373 Boilerplate for custom `HashMap` implementation
  pyg_lib/csrc/classes/cpu/hash_map.h
  test/csrc/classes/test_hash_map.cpp
Labels: 1 - Priority P1, feature, skip-changelog, classes

#375 Basic implementation of `CPUHashMap`
  pyg_lib/csrc/classes/cpu/hash_map.h
  test/csrc/classes/test_hash_map.cpp
Labels: 1 - Priority P1, feature, skip-changelog, classes

#376 Support various data types in `CPUHashMap`
  pyg_lib/csrc/classes/cpu/hash_map.h
  test/csrc/classes/test_hash_map.cpp
Labels: 1 - Priority P1, feature, skip-changelog, classes

#377 Add asserts and default get to `HashMap`
  .github/labeler.yml
  pyg_lib/csrc/classes/cpu/hash_map.h
  test/csrc/classes/test_hash_map.cpp
Labels: 1 - Priority P1, feature, skip-changelog, classes

#378 Pybind support for `CPUHashMap`
  .ruff.toml
  benchmark/classes/hash_map.py
  pyg_lib/__init__.py
  pyg_lib/classes/__init__.py
  pyg_lib/csrc/classes/cpu/hash_map.cpp
  pyg_lib/csrc/classes/cpu/hash_map.h
Labels: 1 - Priority P1, feature, benchmark, skip-changelog, classes

#379 `CPUHashMap` benchmark
  benchmark/classes/hash_map.py
Labels: 1 - Priority P1, feature, benchmark, skip-changelog

#380 Use multi-threading and parallel hash map in `CPUHashMap`
  CMakeLists.txt
  benchmark/classes/hash_map.py
  pyg_lib/csrc/classes/cpu/hash_map.cpp
  pyg_lib/csrc/classes/cpu/hash_map.h
  test/csrc/classes/test_hash_map.cpp
Labels: 1 - Priority P1, feature, benchmark, skip-changelog, classes

#382 Restructure file layout for `HashMap` - prepare CUDA version
  CMakeLists.txt
  pyg_lib/classes/__init__.py
  pyg_lib/csrc/classes/cpu/hash_map.cpp
  pyg_lib/csrc/classes/cpu/hash_map.h
  pyg_lib/csrc/classes/cpu/hash_map_impl.h
  pyg_lib/csrc/classes/hash_map.cpp
  pyg_lib/csrc/classes/hash_map.h
  pyg_lib/csrc/classes/hash_map_impl.h
  test/csrc/classes/test_hash_map.cpp
Labels: 1 - Priority P1, refactor, skip-changelog, classes

#384 Fix documentation builds
  readthedocs.yml
Labels: 0 - Priority P0, bug, documentation, skip-changelog

#385 Update labeling procedure
  .github/labeler.yml
Labels: 0 - Priority P0, skip-changelog, ci

#388 Re-structure includes
  pyg_lib/csrc/classes/cpu/hash_map_impl.h
  pyg_lib/csrc/ops/cpu/matmul_kernel.cpp
  pyg_lib/csrc/ops/cuda/matmul_kernel.cu
  pyg_lib/csrc/sampler/cpu/dist_merge_outputs_kernel.cpp
  pyg_lib/csrc/sampler/cpu/dist_relabel_kernel.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
Labels: 1 - Priority P1, refactor, sampler, ops, skip-changelog, classes

#390 Fix CI
  .github/workflows/cpp_testing.yml
  .github/workflows/install.yml
  .github/workflows/python_testing.yml
Labels: 0 - Priority P0, bug, test, skip-changelog, ci

#391 Add `CUDAHashMapImpl` via `cuCollections`
  pyg_lib/csrc/classes/cuda/hash_map_impl.cu
Labels: 1 - Priority P1, skip-changelog, classes
