Repository pyg-team/pyg-lib, pull requests merged in 2025-03, with the labels that each got.

#416 Revert: "Replace `c10::optional` with equivalent `std::optional`
  pyg_lib/csrc/classes/cpu/neighbor_sampler.cpp
  pyg_lib/csrc/partition/cpu/metis_kernel.cpp
  pyg_lib/csrc/partition/metis.cpp
  pyg_lib/csrc/random/cpu/biased_sampling.cpp
  pyg_lib/csrc/sampler/cpu/dist_merge_outputs_kernel.cpp
  pyg_lib/csrc/sampler/cpu/dist_relabel_kernel.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/cpu/subgraph_kernel.cpp
  pyg_lib/csrc/sampler/dist_merge_outputs.cpp
  pyg_lib/csrc/sampler/dist_relabel.cpp
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/subgraph.cpp
Labels: sampler, skip-changelog, classes

#415 Implement a basic hetero sampler in the class
  pyg_lib/csrc/classes/cpu/neighbor_sampler.cpp
  test/classes/test_neighbor_sampler.py
Labels: skip-changelog, classes

#417 Add `MetapathTracker` helper class to `NeighborSampler`
  pyg_lib/csrc/classes/cpu/neighbor_sampler.cpp
  test/csrc/classes/test_neighbor_sampler.cpp
Labels: 1 - Priority P1, feature, skip-changelog, classes

#419 Oversample metapaths where number of samples was lower than expected
  pyg_lib/csrc/classes/cpu/neighbor_sampler.cpp
  test/classes/test_neighbor_sampler.py
Labels: 1 - Priority P1, feature, skip-changelog, classes
