Repository pyg-team/pyg-lib, pull requests merged in 2025-02, with the labels that each got.

#392 Robustify `CUDAHashMap` implementation + add serialization
  .github/workflows/cuda/Linux-env.sh
  CMakeLists.txt
  pyg_lib/csrc/classes/cuda/hash_map_impl.cu
Labels: 0 - Priority P0, feature, skip-changelog, ci, classes

#393 Align `CPUHashMap` and `CUDAHashMap` implementations
  benchmark/classes/hash_map.py
  pyg_lib/__init__.py
  pyg_lib/classes/__init__.py
  pyg_lib/csrc/classes/cpu/hash_map.cpp
  pyg_lib/csrc/classes/cpu/hash_map_impl.h
  pyg_lib/csrc/classes/cuda/hash_map.cu
  pyg_lib/csrc/classes/hash_map.cpp
  pyg_lib/csrc/classes/hash_map.h
  pyg_lib/csrc/classes/hash_map_impl.h
  test/csrc/classes/test_hash_map.cpp
Labels: 1 - Priority P1, benchmark, refactor, skip-changelog, classes

#394 [Bug] Fixing bug in `fused_scatter_reduce` function.
  pyg_lib/ops/scatter_reduce.py
Labels: skip-changelog

#396 Introduce `load_factor` - use `dtype.int` by default in `HashMap` benchmark
  benchmark/classes/hash_map.py
  pyg_lib/csrc/classes/cuda/hash_map.cu
Labels: 1 - Priority P1, benchmark, skip-changelog, classes

#398 Disable Windows support in `CUDAHashMap`
  .github/actions/setup/action.yml
  .github/workflows/building.yml
  .github/workflows/nightly.yml
  README.md
  pyg_lib/csrc/classes/cuda/hash_map.cu
Labels: skip-changelog, ci, classes

#399 Support `num_submaps` in `CPUHashMap`
  pyg_lib/csrc/classes/cpu/hash_map.cpp
  test/csrc/classes/test_hash_map.cpp
Labels: 0 - Priority P0, 1 - Priority P1, feature, skip-changelog, classes

#400 Remove unnecessary `argsort` in `CUDAHashMap.keys()`
  pyg_lib/csrc/classes/cuda/hash_map.cu
Labels: 0 - Priority P0, refactor, skip-changelog, classes

#403 Expose `size`, `dtype` and `device` in `HashMap`
  pyg_lib/csrc/classes/cpu/hash_map.cpp
  pyg_lib/csrc/classes/cuda/hash_map.cu
  test/classes/test_hash_map.py
  test/csrc/classes/test_hash_map.cpp
Labels: 0 - Priority P0, feature, skip-changelog, classes

#405 CI: Auto-merge PRs from bots
  .github/workflows/automerge.yml
Labels: skip-changelog, ci

#406 Replace `c10::optional` with equivalent `std::optional`
  pyg_lib/csrc/partition/cpu/metis_kernel.cpp
  pyg_lib/csrc/partition/metis.cpp
  pyg_lib/csrc/random/cpu/biased_sampling.cpp
  pyg_lib/csrc/sampler/cpu/dist_merge_outputs_kernel.cpp
  pyg_lib/csrc/sampler/cpu/dist_relabel_kernel.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  pyg_lib/csrc/sampler/cpu/subgraph_kernel.cpp
  pyg_lib/csrc/sampler/dist_merge_outputs.cpp
  pyg_lib/csrc/sampler/dist_relabel.cpp
  pyg_lib/csrc/sampler/neighbor.cpp
  pyg_lib/csrc/sampler/subgraph.cpp
Labels: refactor, sampler, skip-changelog
