Repository pyg-team/pyg-lib, pull requests merged in 2025-04, with the labels that each got.

#422 Fix `SetDevice`
  .github/workflows/install.yml
  pyg_lib/csrc/classes/cuda/hash_map.cu
Labels: 0 - Priority P0, bug, skip-changelog, ci, classes

#423 Correctly set CUDA device
  pyg_lib/csrc/classes/cuda/hash_map.cu
Labels: 0 - Priority P0, bug, skip-changelog, classes

#428 Move stylers/linters to `pyproject.toml`
  .ruff.toml
  .style.yapf
  pyproject.toml
Labels: installation, skip-changelog, ci

#429 Python 3.13 support
  .github/workflows/building.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly.yml
  README.md
  pyproject.toml
Labels: installation, skip-changelog, ci

#425 Replace random shuffle with a sort in `MetapathAwareNeighborSampler`
  pyg_lib/csrc/classes/cpu/neighbor_sampler.cpp
Labels: 1 - Priority P1, feature, skip-changelog, classes

#432 Bump CI's ubuntu to latest
  .github/workflows/building.yml
  .github/workflows/cpp_testing.yml
  .github/workflows/cuda/Linux.sh
  .github/workflows/install.yml
  .github/workflows/nightly.yml
  .github/workflows/python_testing.yml
  CMakeLists.txt
Labels: installation, skip-changelog

#431 Add CXX11 ABI build support
  CHANGELOG.md
Labels: installation, skip-changelog

#434 Only trigger automerge workflow on opening a PR
  .github/workflows/automerge.yml
Labels: skip-changelog, ci

#437 Include `Dispatch.h`
  pyg_lib/csrc/classes/cpu/hash_map.cpp
Labels: skip-changelog, classes

#438 Fix the NO_METIS env var
  CMakeLists.txt
  pyg_lib/csrc/config.h.in
  pyg_lib/csrc/partition/cpu/metis_kernel.cpp
Labels: 1 - Priority P1, skip-changelog

#439 Add a header for the Neighbor sampler class
  pyg_lib/csrc/classes/cpu/neighbor_sampler.cpp
  pyg_lib/csrc/classes/cpu/neighbor_sampler.h
  test/csrc/classes/test_neighbor_sampler.cpp
Labels: 1 - Priority P1, skip-changelog, classes

#440 Additional 0 neighbor checks and a test
  pyg_lib/csrc/classes/cpu/neighbor_sampler.cpp
  pyg_lib/csrc/sampler/cpu/neighbor_kernel.cpp
  test/csrc/sampler/test_neighbor.cpp
Labels: sampler, skip-changelog, classes
