Repository pyg-team/pyg-lib, pull requests merged in 2025-05, with the labels that each got.

#443 Fix CUDA architectures to build for in CI
  .github/actions/setup/action.yml
  .github/workflows/building.yml
  .github/workflows/cuda/Linux-env.sh
  .github/workflows/install.yml
  .github/workflows/nightly.yml
Labels: skip-changelog, ci

#444 ci: Tiny clean up
  .github/workflows/building.yml
  .github/workflows/cpp_testing.yml
  .github/workflows/documentation.yml
  .github/workflows/install.yml
  .github/workflows/nightly.yml
  .github/workflows/python_testing.yml
  tools/print_mkl_version.py
Labels: skip-changelog, ci

#446 Avoid deprecated format in `project.license` field in `pyproject.toml`
  .pre-commit-config.yaml
  pyproject.toml
Labels: installation, skip-changelog, ci

#442 Support PyTorch 2.7 and CUDA 12.8
  .github/actions/setup/action.yml
  .github/workflows/building.yml
  .github/workflows/cpp_testing.yml
  .github/workflows/cuda/Linux-env.sh
  .github/workflows/cuda/Linux.sh
  .github/workflows/cuda/Windows-env.sh
  .github/workflows/cuda/Windows.sh
  .github/workflows/install.yml
  .github/workflows/nightly.yml
  CHANGELOG.md
  CMakeLists.txt
Labels: feature, ci

#451 ci: Set up dependabot
  .github/dependabot.yml
Labels: skip-changelog, ci

#456 Update `README.md` on PyTorch 2.7 and CUDA 12.8 support
  README.md
  docs/requirements.txt
Labels: documentation, skip-changelog

#459 Remove PyTorch 1.12 handling from CI
  .github/actions/setup/action.yml
Labels: skip-changelog

#465 Build for all Python versions on Linux
  .github/actions/setup/action.yml
  .github/workflows/building.yml
  .github/workflows/nightly.yml
Labels: 0 - Priority P0, bug, installation, skip-changelog
